services:
  mongo:
    image: mongo:8.0.4
    container_name: discord_rag_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - discord_rag_network

  redis:
    image: redis/redis-stack:7.4.0-v1
    container_name: discord_rag_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - discord_rag_network

  api:
    build:
      context: production/
      dockerfile: ./api/Dockerfile
    env_file:
      - production/api/.env
    container_name: discord_rag_api
    ports:
      - "8000:8000"
    networks:
      - discord_rag_network
    depends_on:
      - redis

  bot:
    build:
      context: bot/
      dockerfile: ./Dockerfile
    env_file:
      - bot/src/.env
    container_name: discord_rag_bot
    networks:
      - discord_rag_network
    depends_on:
      - api

  indexer:
    build:
      context: production/
      dockerfile: ./indexing_pipeline/Dockerfile
    env_file:
      - production/indexing_pipeline/.env
    container_name: discord_rag_indexer
    networks:
      - discord_rag_network
    depends_on:
      - mongo
      - redis
    profiles:
      - indexing

volumes:
  mongo_data:
    name: discord_rag_mongo_data
  redis_data:
    name: discord_rag_redis_data

networks:
  discord_rag_network:
    name: discord_rag_network
    driver: bridge
